<ion-view style="background-color: rgb(245, 215, 11);" id="page2" title="Camera Tab Default Page" hide-nav-bar="true">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="button-bar" id="cameraTabDefaultPage-button-bar1"></div>
    <div id="cameraTabDefaultPage-markdown4"></div>
    <div class="button-bar" id="cameraTabDefaultPage-button-bar3"></div>
    <div style="width: 283px; height: 16px;" class="spacer"></div>
    <div>
      <img style="display: block; margin-left: auto; margin-right: auto;" src="img/oracle_logo.png" height="auto" width="100%">
    </div>
    <div style="width: 283px; height: 27px;" class="spacer"></div>
    <!--div id="cameraTabDefaultPage-video1" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
      <iframe src="https://www.youtube.com/embed/UrIiLvg58SY?rel=0&amp;showinfo=0" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" height="315" width="560"></iframe>
    </div-->
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img style="display: block; margin-left: auto; margin-right: auto;" src="img/words.jpg" height="auto" width="100%">
    </div>
    <h1 style="color: rgb(255, 255, 255); font-weight: 600; font-style: italic;" id="cameraTabDefaultPage-heading3">Text T0</h1>
    <h1 style="color: rgb(0, 0, 0); text-align: right;" id="cameraTabDefaultPage-heading5">Speech</h1>
    <h4 style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;" id="cameraTabDefaultPage-heading6">Send text messages &amp; voice calls to anyone anywhere anytime</h4>
    <div class="font-weight: bold" style="text-align:center;" id="cameraTabDefaultPage-markdown6"></div>
  </ion-content>
</ion-view>