<ion-view title="Home" hide-nav-bar="true" id="home">
    <ion-content padding="true" style="background: url(img/3BZBiKbQSKOsuz3dQ4UD_800px-Bird_in_flight_wings_spread.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div id="cameraTabDefaultPage-button-bar1" class="button-bar"></div>
        <div id="cameraTabDefaultPage-markdown4" style="color:#000000;"></div>
        <h1 id="cameraTabDefaultPage-heading2" style="color:#FFFFFF;text-align:center;">Winge Your Words</h1>
        <div class="spacer" style="width: 300px; height: 263px;"></div>
        <div id="cameraTabDefaultPage-button-bar3" class="button-bar">
            <a ui-sref="tabsController.sendRecordedMessagePage" id="cameraTabDefaultPage-button8" class="button button-positive  button-block icon ion-ios-email-outline"></a>
            <a ui-sref="tabsController.sendRecordedMessagePage" id="cameraTabDefaultPage-button9" class="button button-positive  button-block icon ion-android-call"></a>
        </div>
    </ion-content>
</ion-view>