<ion-view title="Page" hide-nav-bar="true" id="page5" style="background-color:#1B2842;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="page-form2" class="list">
            <label class="item item-input item-floating-label" id="page-input2" name="From">
                <span class="input-label">From</span>
                <input type="tel" placeholder="From">
            </label>
        </form>
        <form id="page-form3" class="list">
            <label class="item item-input item-floating-label" id="page-input4" name="To">
                <span class="input-label">To</span>
                <input type="tel" placeholder="To">
            </label>
            <div class="spacer" style="width: 300px; height: 59px;"></div>
            <label class="item item-input" id="page-textarea1" name="Text">
                <span class="input-label"></span><textarea placeholder="What a TadHack Day.......">What a TadHack Day.......</textarea>
            </label>
        </form>
        <button id="page-button11" style="font-weight:600;color:#FFFFFF;" class="button button-energized button-large button-block">Fire !</button>
    </ion-content>
</ion-view>