<ion-view title="SendRecordedMessagePage" hide-nav-bar="true" id="page5" style="background-color:#1B2842;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="sendRecordedMessageForm" class="list" ng-submit="sendRecordedVoiceMessage(message)">
            <!--label class="item item-input item-floating-label" id="sendRecordedMessagePage-input2" name="From">
                <span class="input-label">From</span>
                <input type="tel" placeholder="From" ng-model="message.from" style="color:white;">
            </label-->
             <label class="item item-input item-floating-label" id="sendRecordedMessagePage-input4" name="To">
                <span class="input-label">To</span>
                <input type="tel" placeholder="To" ng-model="message.to" style="color:white;">
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input item-floating-label" id="sendRecordedMessagePage-textarea1" name="Text">
            <input type="text" placeholder="Your Message" ng-model="message.content" style="color:white;height: 100px;">
                <!--textarea rows="10" cols="50" ng-model="message.content" placeholder="What a TadHack Day......." style="font-weight:600;color:black;text-align: justify;white-space: normal;"></textarea-->
            </label>
             <!--div class="spacer" style="height: 10px;"></div>
             <label class="item item-input item-floating-label" id="sendRecordedMessagePage-input4" name="SendAs">
                <span class="input-label">Send As:</span>
                 <ion-radio
                   ng-value="sms"
                   ng-model="channel">
                         Text Message
             </ion-radio>
              <ion-radio
                   ng-value="voice"
                   ng-model="channel">
                         Voice Message
             </ion-radio>
            </label-->        
    
            <!--label class="item item-input item-floating-label" id="sendRecordedMessagePage-dd" name="Send as:"></label>
            <ion-radio ng-model="choice" ng-value="'Text'">Text</ion-radio>
            <ion-radio ng-model="choice" ng-value="'Voice'">Voice Message</ion-radio-->
             <button ui id="sendRecordedMessagePage-button11" type="submit" style="font-weight:600;color:#FFFFFF;" class="button button-energized button-large button-block">Fire Call!
             </button>
          
             <div ng-show="showResponse" align="center" style="color:white;">
                <b ng-bind="response"></b>
                 <a style="color:white;font-size:15px;" href="#/page1/page2"><i class="ion-ios-home"></i> Send a new message</a>
             </div>
      </div>
        </form>
    </ion-content>
</ion-view>